/* 整体样式 */
body{
    margin: 0;  
}
div.inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/* 页眉样式 */
div#header {
    height: 140px;  
    background-color: #ffffff;
}
div#text{
    height: 120px;
    background-image: url(../img/插图1.jpg);
    background-repeat: no-repeat;   
    margin-top: auto;
    margin-bottom: auto;
}
h1#top{
    margin-left: 180px;
    margin-top: 0px;
    padding-top: 50px;
    color:#2b2626;
    font-family: 'Microsoft YaHei';
}
/* 导航样式 */
div#navigation{
    height: 60px;
    background-color: #000000; 
}
ul#nav{
    height: 48px;
    margin: auto;
    padding-left: 10px;
}
ul#nav .nav1{
    float: left;
    padding: 18px 18px;
    list-style: none;
}
ul#nav li.nav1:hover{
    background-color:#85754d;
}
ul#nav li a{
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}
/* 内容1样式 */
div#content1{
    height: 720px;
}
div#content1 div.inner div.con{
    width: 312px;
    height: 426px;
    background-color: #f1efe3;
    float: left;
    margin-left: 18px;
    margin-top: 40px;
}
/* 内容2样式 */
div#content2{
    height: 720px;
}
div#content2 div.inner div.con{
    height: 226px;
    width: 800px;
    background-color: #f1efe3;
    margin: 40px auto;
}
div#content2 div.inner div.con div.con1{
    width: 316px;
    float: left;
}
div#content2 div.inner div.con div.con2{
    width: 356px;
    margin-top: 40px;
    margin-left: 60px;
    float: left;
}
/* 内容3样式 */
div#content3{
    height: 680px;
}
/* 页脚样式 */
div#footer {
    height: 60px;
    background-color: #172c1f;  
}
p#版权内容{
    text-align: center;
    margin: 0;
    color: #ffffff;
    padding-top: 16px;
}